<%= content_for :title, 'Loading games...' %>
<%= content_for :head do %>
  <style>
      .game {
          margin-right: 20px;
          display: inline-block;
          width: 600px;
          max-width: 90vw;

      }
      body {
          margin: 10px 20px;
      }
  </style>
  <link id="piece-sprite" href="/piece-css/cburnett.css" rel="stylesheet">
  <%= stylesheet_link_tag 'lichess_site' %>
  <%= stylesheet_link_tag 'lichess_theme_light' %>
  <%= stylesheet_link_tag 'lichess_pgn_viewer' %>
  <%= javascript_import_module_tag 'src/daily_games' %>
<% end %>
<h1>Daily Games</h1>
<h2>My Turn</h2>
<div id="gameLinks_myTurn"></div>
<hr/>
<h2>Their Turn</h2>
<div id="gameLinks_theirTurn"></div>
