<%= content_for :title, 'Loading games...' %>
<%= content_for :head do %>
  <% if @has_username %>
    <%= stylesheet_link_tag 'lichess_pgn_viewer' %>
    <script type=module>
      import DailyGames from 'dist/daily_games';

      document.addEventListener('DOMContentLoaded', () => {
        new DailyGames({
          target: document.getElementById('main'),
        })
      });
    </script>
  <% end %>
<% end %>

<div id="main">
  <% unless @has_username %>
    <div class="columns is-centered">
      <div class="column is-half">
        <p class="is-size-4">
          View the current daily games for these users
        </p>
        <%= form_with url: request.original_url, method: "get", local: true do |form| %>
          <div class="field">
            <%= form.label :chess_com_username, 'Chess.com Username', class: 'label' %>
            <div class="control">
              <%= form.text_field :chess_com_username, value: params[:chess_com_username], class: 'input', autocomplete: 'off' %>
            </div>
          </div>

          <div class="field">
            <%= form.label :lichess_username, 'Lichess Username', class: 'label' %>
            <div class="control">
              <%= form.text_field :lichess_username, value: params[:lichess_username], class: 'input', autocomplete: 'off' %>
            </div>
          </div>

          <%= form.submit 'Submit', class: 'button is-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
