<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Chess Hair' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'theme_all' %>
  <%= stylesheet_link_tag 'lichess_site' %>
  <%= yield :head %>
</head>

<body <%= tag.attributes(body_data_attributes(@body_attributes || {})) %>>
  <%= yield %>
</body>
</html>
