<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Chess Hair' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link id="piece-sprite" href="/piece-css/merida.css" rel="stylesheet">

  <script type=module>
    import ThemeSwitcher from 'dist/theme_switcher';
    document.addEventListener('DOMContentLoaded', () => {
      new ThemeSwitcher({
        target: document.getElementById('theme-switcher'),
      })
    });
  </script>

  <%= yield :head %>
</head>
<body <%= tag.attributes(body_data_attributes(@body_attributes || {})) %>>
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        ChessHair
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/knight-moves">
          Knight Moves
        </a>

        <a class="navbar-item" href="/daily-games">
          Daily Games
        </a>

        <a class="navbar-item" href="/notation-trainer">
          Notation Trainer
        </a>
        <a class="navbar-item" href="/config">
          Config
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div id="theme-switcher">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
<footer>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    });
  </script>
  <% yield :footer %>
</footer>
</html>
